<a href="https://colab.research.google.com/github/EunSik312/623_chungnam/blob/main/python3_basic_w3school.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

íŒŒì´ì¬ ê¸°ì´ˆ - w3school https://www.w3schools.com/python/matplotlib_intro.asp

In [ ]:
print("hello, wolrd")

hello, wolrd

In [ ]:
if 5 > 2:
  print("five is greater than two!")

five is greater than two!

In [ ]:
x = 5
y = "jonh"
print(x)
print(y)

5
jonh

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(_my_var)

John

In [ ]:
x, y, z = "orange", "banana", "cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x+y+z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = "awesome"

def myfunc():
  print("Python is" + x)

myfunc()

Python isawesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("python is " + x)

python is fantastic

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = "Hello World"	#str
x = 20	#int
x = 20.5	#float
x = 1j	#complex
x = ["apple", "banana", "cherry"]	#list
x = ("apple", "banana", "cherry")	#tuple
x = range(6)	#range
x = {"name" : "John", "age" : 36}	#dict
x = {"apple", "banana", "cherry"}	#set
x = frozenset({"apple", "banana", "cherry"})	#frozenset
x = True	#bool
x = b"Hello"	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview
x = None	#NoneType

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
import random

print(random.randrange(1, 10))

4

In [ ]:
a = "Hello, World!"
print(a[3])
#ë³€ìˆ˜ì˜ ì§€ëª…í•˜ëŠ” ìˆ«ìž ìžë¦¬ì˜ ë¬¸ìžë¥¼ í”„ë¦°íŠ¸í•¨

l

In [ ]:
a = "Hello, World!"
print(len(a))
#ë¬¸ìžì—´ ê¸¸ì´ë¥¼ ì•Œë ¤ì¤Œ

13

In [ ]:
txt = "The best things in life are free!"
print("bet" in txt)
#í…ìŠ¤íŠ¸ì— ë‚´ê°€ ìž…ë ¥í•˜ëŠ” ë¬¸ìžì—´ì´ ìžˆëŠ”ì§€ ì°¸ ê±°ì§“ íŒë‹¨í•´ì¤Œ

False

In [ ]:
txt = "The best things in life are free!"
if "e" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
print("are" not in txt)
#areì´ í…ìŠ¤íŠ¸ì— í¬í•¨ë˜ì§€ ì•ŠëŠ”ë‹¤ = ê±°ì§“

False

In [ ]:
b = "Hello, World!"
print(b[2:5])
#ì§€ì •í•œ ë²”ìœ„ì˜ ë¬¸ìž ì¶œë ¥
#ìŠ¬ë¼ì´ì‹±

llo

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
a = "Hello, World!"
print(a.upper())
#aë¥¼ ëŒ€ë¬¸ìžë¡œ ë°”ê¾¼ë‹¤

HELLO, WORLD!

In [ ]:
a = "Hello, World!"
print(a.lower())
#aë¥¼ ì†Œë¬¸ìžë¡œ ë°”ê¾¼ë‹¤

hello, world!

In [ ]:
a = "      Hello, World! "
print(a.strip()) # returns "Hello, World!"
#ê³µë°± ì‚­ì œí•´ì¤Œ

Hello, World!

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))
# Hë¥¼ Jë¡œ ëŒ€ì²´

Jello, World!

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
#í•œ ë³€ìˆ˜ì— í° ë”°ì˜´í‘œë¡œ ì„ ì–¸í•´ë„ ìž‘ì€ ë”°ì˜´í‘œë¡œ ë‚˜ë‰˜ì–´ì ¸ì„œ ì¶œë ¥

['Hello', ' World!']

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
#\'	Single Quote
#\\	Backslash
#\n	New Line
#\r	Carriage Return
#t	Tab
#\b	Backspace
#\f	Form Feed
#\ooo	Octal value
#\xhh	Hex value

In [ ]:
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
ncode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning#

SyntaxError: invalid syntax (ipython-input-37-1310856892.py, line 1)

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [ ]:
x = 200
print(isinstance(x, float))

False

In [ ]:
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y
**	Exponentiation	x ** y
//	Floor division	x // y
=	x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3
|=	x |= 3	x = x | 3
^=	x ^= 3	x = x ^ 3
>>=	x >>= 3	x = x >> 3
<<=	x <<= 3	x = x << 3
:=	print(x := 3)	x = 3
print(x)
==	Equal	x == y
!=	Not equal	x != y
>	Greater than	x > y
<	Less than	x < y
>=	Greater than or equal to	x >= y
<=	Less than or equal to	x <= y
and 	Returns True if both statements are true	x < 5 and  x < 10
or	Returns True if one of the statements is true	x < 5 or x < 4
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)
is 	Returns True if both variables are the same object	x is y
is not	Returns True if both variables are not the same object	x is not y
in 	Returns True if a sequence with the specified value is present in the object	x in y
not in	Returns True if a sequence with the specified value is not present in the object	x not in y
& 	AND	Sets each bit to 1 if both bits are 1	x & y
|	OR	Sets each bit to 1 if one of two bits is 1	x | y
^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y
~	NOT	Inverts all the bits	~x
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2
()	Parentheses
**	Exponentiation
+x  -x  ~x	Unary plus, unary minus, and bitwise NOT
*  /  //  %	Multiplication, division, floor division, and modulus
+  -	Addition and subtraction
<<  >>	Bitwise left and right shifts
&	Bitwise AND
^	Bitwise XOR
|	Bitwise OR
==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and membership operators
not	Logical NOT
and	AND
or	OR

In [ ]:
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

ì¢‹ì•„ìš”! ì´ˆë³´ìžë„ ì´í•´í•  ìˆ˜ ìžˆë„ë¡ \*\*íŠœí”Œ(Tuple)\*\*ì„ ê°„ë‹¨í•˜ê²Œ ì„¤ëª…í•´ë“œë¦´ê²Œìš”.

---

````markdown
# ðŸ“¦ Tuple (íŠœí”Œ)

**íŠœí”Œ(Tuple)**ì€ Pythonì—ì„œ **ì—¬ëŸ¬ ê°’ì„ í•˜ë‚˜ë¡œ ë¬¶ì„ ìˆ˜ ìžˆëŠ” ìžë£Œí˜•**ìž…ë‹ˆë‹¤.  
**ë¦¬ìŠ¤íŠ¸ì™€ ë¹„ìŠ·í•˜ì§€ë§Œ, ìˆ˜ì •ì´ ë¶ˆê°€ëŠ¥(immutable)**í•˜ë‹¤ëŠ” íŠ¹ì§•ì´ ìžˆì–´ìš”.

---

## âœ… íŠœí”Œ ë§Œë“¤ê¸°

```python
# ì†Œê´„í˜¸ () ë¥¼ ì‚¬ìš©í•´ì„œ ìƒì„±
t1 = (1, 2, 3)
t2 = ("apple", "banana", "cherry")
````

---

## ðŸ†š íŠœí”Œ vs ë¦¬ìŠ¤íŠ¸

| êµ¬ë¶„ | ë¦¬ìŠ¤íŠ¸ (`list`) | íŠœí”Œ (`tuple`)    |
| -- | ------------ | --------------- |
| ê¸°í˜¸ | `[]` ëŒ€ê´„í˜¸     | `()` ì†Œê´„í˜¸        |
| ìˆ˜ì • | ê°€ëŠ¥ (mutable) | ë¶ˆê°€ëŠ¥ (immutable) |
| ì†ë„ | ëŠë¦¼           | ë¹ ë¦„              |
| ìš©ë„ | ìžì£¼ ë°”ë€ŒëŠ” ë°ì´í„°   | ê³ ì •ëœ ë°ì´í„°         |

---

## ðŸ“Œ íŠœí”Œ ì‚¬ìš© ì˜ˆì‹œ

```python
person = ("ìœ¤ì€ì‹", 25, "ê°œë°œìž")

print(person[0])  # ìœ¤ì€ì‹
print(person[1])  # 25
```

---

## ðŸ”’ íŠœí”Œì€ ë³€ê²½ ë¶ˆê°€

```python
t = (1, 2, 3)
t[0] = 100  # âŒ ì˜¤ë¥˜ ë°œìƒ! íŠœí”Œì€ ìˆ˜ì •í•  ìˆ˜ ì—†ìŒ
```

---

## ðŸ§° íŠœí”Œ ê´€ë ¨ í•¨ìˆ˜

```python
t = (1, 2, 3, 2)

len(t)       # 4 (ê¸¸ì´)
t.count(2)   # 2 (2ê°€ ëª‡ ë²ˆ ë‚˜ì˜¤ëŠ”ì§€)
t.index(3)   # 2 (3ì´ ìžˆëŠ” ì¸ë±ìŠ¤)
```

---

## ðŸ’¡ ì–¸ì œ íŠœí”Œì„ ì“¸ê¹Œ?

* ë°ì´í„°ê°€ **ë³€í•˜ì§€ ì•Šì•„ì•¼ í•  ë•Œ**
* **ì†ë„ê°€ ì¤‘ìš”í•œ ê²½ìš°**
* ì˜ˆ: (x, y) ì¢Œí‘œ, RGB ìƒ‰ìƒ, DB ê²°ê³¼ ë“±

---

````

### ì˜ˆì‹œ ìš”ì•½

```python
location = (37.55, 126.98)  # ìœ„ë„, ê²½ë„ (íŠœí”Œ ì‚¬ìš© ì˜ˆì‹œ)
````

---

í•„ìš”í•˜ë©´ `list`, `set`, `dictionary`ë„ ë¹„ìŠ·í•œ í˜•ì‹ìœ¼ë¡œ ì•Œë ¤ë“œë¦´ê²Œìš”.
ë‹¤ìŒì€ ë­˜ ë°°ìš°ê³  ì‹¶ìœ¼ì‹ ê°€ìš”? ðŸ˜„

In [ ]:
#count()	Returns the number of times a specified value occurs in a tuple
#index()	Searches the tuple for a specified value and returns the position of where it was found
#

ì¢‹ì•„ìš”! ì´ë²ˆì—” **`set` (ì§‘í•©)** ì— ëŒ€í•´ ê°„ë‹¨í•˜ê³  ê¹”ë”í•˜ê²Œ ì •ë¦¬í•´ë“œë¦´ê²Œìš”. ì´ˆë³´ìžê°€ ì´í•´í•˜ê¸° ì‰¬ìš´ ì˜ˆì œì™€ í•¨ê»˜ ë§ˆí¬ë‹¤ìš´ í˜•ì‹ìœ¼ë¡œ ì œê³µí•´ìš”. `SET.md` íŒŒì¼ì´ë‚˜ `README.md`ì— ë„£ê¸° ì¢‹ìŠµë‹ˆë‹¤.

---

````markdown
# ðŸ§® Set (ì§‘í•©)

**`set`**ì€ Pythonì—ì„œ **ì¤‘ë³µì„ í—ˆìš©í•˜ì§€ ì•Šê³ **, **ìˆœì„œê°€ ì—†ëŠ” ë°ì´í„° ì§‘í•©**ìž…ë‹ˆë‹¤.  
ìˆ˜í•™ì—ì„œ ë§í•˜ëŠ” ì§‘í•©ê³¼ ë¹„ìŠ·í•˜ê²Œ ë™ìž‘í•©ë‹ˆë‹¤.

---

## âœ… Set ë§Œë“¤ê¸°

```python
s = {1, 2, 3}
print(s)  # {1, 2, 3}
````

âš ï¸ ì¤‘ë³µëœ ê°’ì„ ë„£ìœ¼ë©´ ìžë™ìœ¼ë¡œ ì œê±°ë©ë‹ˆë‹¤.

```python
s = {1, 2, 2, 3, 3}
print(s)  # {1, 2, 3}
```

---

## ðŸ“Œ íŠ¹ì§•

| íŠ¹ì§•      | ì„¤ëª…                 |
| ------- | ------------------ |
| ì¤‘ë³µ âŒ    | ê°™ì€ ê°’ì„ ì—¬ëŸ¬ ë²ˆ ì €ìž¥í•˜ì§€ ì•ŠìŒ |
| ìˆœì„œ ì—†ìŒ âŒ | ì¸ë±ì‹±(ìœ„ì¹˜ ì ‘ê·¼) ë¶ˆê°€ëŠ¥     |
| ë³€ê²½ ê°€ëŠ¥ âœ… | ê°’ì„ ì¶”ê°€í•˜ê±°ë‚˜ ì œê±°í•  ìˆ˜ ìžˆìŒ  |

---

## ðŸ”§ ì£¼ìš” ë©”ì„œë“œ

```python
s = {1, 2, 3}

s.add(4)      # ê°’ ì¶”ê°€ â†’ {1, 2, 3, 4}
s.remove(2)   # ê°’ ì œê±° â†’ {1, 3, 4}
s.clear()     # ëª¨ë‘ ì œê±° â†’ set()
```

---

## ðŸ” ì§‘í•© ì—°ì‚°

```python
a = {1, 2, 3}
b = {3, 4, 5}

a | b   # í•©ì§‘í•© â†’ {1, 2, 3, 4, 5}
a & b   # êµì§‘í•© â†’ {3}
a - b   # ì°¨ì§‘í•© â†’ {1, 2}
a ^ b   # ëŒ€ì¹­ì°¨ì§‘í•© â†’ {1, 2, 4, 5}
```

---

## âŒ ì¸ë±ì‹± ì•ˆ ë¨

```python
s = {10, 20, 30}
print(s[0])  # ì˜¤ë¥˜! setì€ ìˆœì„œê°€ ì—†ìŒ
```

**â†’ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜ í›„ ì‚¬ìš© ê°€ëŠ¥**

```python
lst = list(s)
print(lst[0])  # ê°€ëŠ¥
```

---

## ðŸ’¡ ì–¸ì œ ì‚¬ìš©í•˜ë‚˜ìš”?

* ì¤‘ë³µ ì œê±°ê°€ í•„ìš”í•  ë•Œ
* ë¹ ë¥¸ ê²€ìƒ‰ì´ í•„ìš”í•  ë•Œ (`in` ì—°ì‚° ë¹ ë¦„)
* ìˆ˜í•™ì  ì§‘í•© ì—°ì‚°ì´ í•„ìš”í•  ë•Œ

---

## ðŸ§  ì˜ˆì œ

```python
words = ["apple", "banana", "apple", "orange", "banana"]
unique_words = set(words)
print(unique_words)  # {'apple', 'banana', 'orange'}
```

---

```

---

ë‹¤ìŒìœ¼ë¡œ `dictionary`, `list`, `for loop`, `class` ë“±ë„ ì›í•˜ì‹œë©´ ê³„ì† ë„ì™€ë“œë¦´ê²Œìš”!  
ì–´ë–¤ ê±¸ ë” ë°°ìš°ê³  ì‹¶ìœ¼ì‹ ê°€ìš”? ðŸ˜„
```

ì¢‹ì•„ìš”! ì´ˆë³´ìžë¥¼ ìœ„í•œ **Python Dictionary(ë”•ì…”ë„ˆë¦¬)** ê°œë…ì„ ì•„ì£¼ ì‰½ê²Œ ì •ë¦¬í•´ë“œë¦´ê²Œìš”. ë§ˆí¬ë‹¤ìš´ìœ¼ë¡œ ì œê³µí•˜ë‹ˆ `DICTIONARY.md` ê°™ì€ íŒŒì¼ì´ë‚˜ `README.md`ì— ê·¸ëŒ€ë¡œ ë„£ì–´ë„ ë©ë‹ˆë‹¤.

---

````markdown
# ðŸ“š Python Dictionary (ë”•ì…”ë„ˆë¦¬)

**Dictionary(ë”•ì…”ë„ˆë¦¬)** ëŠ” `í‚¤(key)`ì™€ `ê°’(value)` ìŒìœ¼ë¡œ ë°ì´í„°ë¥¼ ì €ìž¥í•˜ëŠ” ìžë£Œí˜•ìž…ë‹ˆë‹¤.  
ì „í™”ë²ˆí˜¸ë¶€ë‚˜ ì£¼ì†Œë¡ì²˜ëŸ¼ **ì´ë¦„ â†’ ì „í™”ë²ˆí˜¸** ì‹ìœ¼ë¡œ ëŒ€ì‘í•˜ëŠ” ë°ì´í„°ë¥¼ í‘œí˜„í•  ë•Œ ì‚¬ìš©í•©ë‹ˆë‹¤.

---

## âœ… ë”•ì…”ë„ˆë¦¬ ë§Œë“¤ê¸°

```python
person = {
    "name": "ìœ¤ì€ì‹",
    "age": 25,
    "job": "developer"
}
````

---

## ðŸ” ê°’ ì ‘ê·¼í•˜ê¸°

```python
print(person["name"])   # ìœ¤ì€ì‹
print(person["age"])    # 25
```

â— ì¡´ìž¬í•˜ì§€ ì•ŠëŠ” í‚¤ë¥¼ ì ‘ê·¼í•˜ë©´ ì˜¤ë¥˜ê°€ ë‚©ë‹ˆë‹¤.
â†’ `get()`ì„ ì‚¬ìš©í•˜ë©´ ê¸°ë³¸ê°’ ì„¤ì • ê°€ëŠ¥

```python
print(person.get("hobby", "ì—†ìŒ"))  # ì—†ìŒ
```

---

## ðŸ› ï¸ ê°’ ìˆ˜ì • & ì¶”ê°€

```python
person["age"] = 26              # ê°’ ìˆ˜ì •
person["hobby"] = "coding"      # ìƒˆë¡œìš´ í‚¤ ì¶”ê°€
```

---

## âŒ í‚¤ ì‚­ì œ

```python
del person["job"]         # íŠ¹ì • í‚¤ ì‚­ì œ
person.pop("age")         # popìœ¼ë¡œ ì‚­ì œ
person.clear()            # ëª¨ë“  í•­ëª© ì œê±°
```

---

## ðŸ” ë°˜ë³µí•˜ê¸°

```python
for key in person:
    print(key, person[key])

# ë˜ëŠ”
for key, value in person.items():
    print(f"{key} â†’ {value}")
```

---

## ðŸ“Œ ë”•ì…”ë„ˆë¦¬ ë©”ì„œë“œ

| ë©”ì„œë“œ             | ì„¤ëª…              |
| --------------- | --------------- |
| `dict.keys()`   | ëª¨ë“  í‚¤ ë°˜í™˜         |
| `dict.values()` | ëª¨ë“  ê°’ ë°˜í™˜         |
| `dict.items()`  | (í‚¤, ê°’) ìŒ ë°˜í™˜     |
| `dict.get()`    | í‚¤ì— ëŒ€í•œ ê°’ ê°€ì ¸ì˜¤ê¸°    |
| `dict.update()` | ì—¬ëŸ¬ ê°’ í•œ ë²ˆì— ìˆ˜ì •/ì¶”ê°€ |
| `dict.pop()`    | íŠ¹ì • í‚¤ ì‚­ì œ ë° ê°’ ë°˜í™˜  |

---

## ðŸ§  ì˜ˆì œ

```python
student = {
    "id": 1234,
    "name": "í™ê¸¸ë™",
    "grade": "A"
}

# í‚¤ ëª©ë¡ ë³´ê¸°
print(student.keys())  # dict_keys(['id', 'name', 'grade'])

# ê°’ ëª©ë¡ ë³´ê¸°
print(student.values())  # dict_values([1234, 'í™ê¸¸ë™', 'A'])
```

---

## ðŸ’¡ ì–¸ì œ ì‚¬ìš©í•˜ë‚˜ìš”?

* ë°ì´í„°ì— ì´ë¦„ì„ ë¶™ì—¬ ì €ìž¥í•  ë•Œ
* JSON, API ì‘ë‹µ ë°ì´í„° ì²˜ë¦¬
* ë¹ ë¥´ê²Œ ê°’ì— ì ‘ê·¼í•˜ê³  ì‹¶ì„ ë•Œ

---

```

---

ì›í•˜ì‹œë©´ `list`, `tuple`, `set`, `ifë¬¸`, `forë¬¸`, `class`ë„ ë¹„ìŠ·í•˜ê²Œ ì •ë¦¬í•´ë“œë¦´ ìˆ˜ ìžˆì–´ìš”!  
ë‹¤ìŒì€ ë¬´ì—‡ì„ ë°°ìš°ê³  ì‹¶ìœ¼ì‹ ê°€ìš”? ðŸ˜Š
```